<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chuangweizhong.opencv" >

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Folder Permissions in SDCard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH" >
    </uses-permission>



    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:name="com.chuangweizong.opencv.MyApplication"
        android:allowBackup="true"
        android:label="@string/app_name" >

        <uses-sdk
            android:minSdkVersion="18"
            android:targetSdkVersion="23" />

        <activity  android:label="@string/app_name" android:launchMode="standard" android:name="com.chuangweizong.opencv.filter.Main.ImageFilterMain" android:screenOrientation="portrait" >
        </activity>
        <!--
        <activity
            android:name="com.chuangweizong.opencv.activity.GreyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="com.chuangweizong.opencv.activity.BlurActivity"
            android:label="@string/app_name" >
        </activity>
        <!--
        <activity
            android:name="com.chuangweizong.opencv.activity.opencvsample.puzzle.Puzzle15Activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->


        <!--
        <activity
            android:name="com.chuangweizong.opencv.activity.FaceActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="com.chuangweizong.opencv.activity.FaceDetectActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.chuangweizong.opencv.activity.FloodfillActivity"
            android:label="@string/title_activity_image_fill" >
        </activity>
        <activity
            android:name="com.chuangweizong.opencv.activity.ImageFillActivity"
            android:label="@string/title_activity_image_fill" >
        </activity>
        <activity
            android:name="com.chuangweizong.opencv.activity.MorphologicalActivity"
            android:label="@string/title_activity_morphological" >
        </activity>
        <activity
            android:name="com.chuangweizong.opencv.activity.EdgeDetectActivity"
            android:label="@string/title_activity_morphological" >
        </activity>

        <activity
            android:name="com.chuangweizong.opencv.activity.OpencvSampleListActivity"
            android:label="@string/title_activity_edge_detect" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.chuangweizong.opencv.activity.AngularPointActivity"
            android:label="@string/title_activity_angular_point" >
        </activity>
        <activity
            android:name="com.chuangweizong.opencv.activity.HoughTransformationActivity"
            android:label="@string/title_activity_hough_transformation" >
        </activity>
        <activity
            android:name="com.chuangweizong.opencv.activity.ObjectDetectActivity"
            android:label="@string/title_activity_object_detect" >
        </activity>
        <activity android:name="com.chuangweizong.opencv.activity.opencvsample.OpencvElegantSampleListActivity" >
        </activity>
        <activity android:name="com.chuangweizong.opencv.activity.opencvsample.cameracalibration.CameraCalibrationActivity" >
        </activity>
        <activity android:name="com.chuangweizong.opencv.activity.opencvsample.colorblobdetection.ColorBlobDetectionActivity" >
        </activity>
        <activity android:name="com.chuangweizong.opencv.activity.opencvsample.imagemanipulations.ImageManipulationsActivity" >
        </activity>
        <activity android:name="com.chuangweizong.opencv.activity.opencvsample.puzzle.Puzzle15Activity" >
        </activity>
        <activity android:name="com.chuangweizong.opencv.activity.opencvsample.tutorial1.Tutorial1Activity" >
        </activity>
        <activity android:name="com.chuangweizong.opencv.activity.opencvsample.tutorial2.Tutorial2Activity" >
        </activity>
        <activity android:name="com.chuangweizong.opencv.activity.opencvsample.tutorial3.Tutorial3Activity" >
        </activity>
        <activity android:name="com.chuangweizong.opencv.activity.SettingActivity" >
        </activity>
        <activity android:name="com.chuangweizong.opencv.activity.OpencvFaceLBPDetectActivity" >
        </activity>
        <activity android:name="com.chuangweizong.opencv.activity.PyramidActivity" >
        </activity>
        <activity android:name="com.chuangweizong.opencv.activity.ImageTrainActivity" >
        </activity>
        <activity android:name="com.chuangweizong.opencv.activity.LensActivity" >
        </activity>
        <activity android:name="com.daiyinger.carplate.OpenERActivity" >
        </activity>
        <activity
            android:name="com.chuangweizong.opencv.activity.FeatureDetectActivity"
            android:label="@string/title_activity_feature_detect" >
        </activity>
        <activity
            android:name="com.chuangweizong.opencv.activity.IdCardDetectActivity"
            android:label="@string/title_activity_id_card_detect" >
        </activity>

        <activity
            android:name="com.chuangweizong.opencv.activity.ChineseDetectActivity"
            android:label="@string/title_activity_id_card_detect" >
        </activity>

        <activity
            android:name="com.chuangweizong.opencv.activity.OpencvFaceHaarDetectActivity"
            android:label="@string/title_activity_opencv_face_detect" >
        </activity>
        <activity
            android:name="com.chuangweizong.opencv.activity.HogSVMPeopleActivity"
            android:label="@string/title_activity_hog_svmpeople" >
        </activity>
        <activity
            android:name="com.chuangweizong.opencv.activity.FlowAndTrackerActivity"
            android:label="@string/title_activity_trace_object"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.chuangweizong.opencv.activity.SlopeCorrectActivity"
            android:label="@string/title_activity_slope_correct" >
        </activity>
        <activity
            android:name="com.chuangweizong.opencv.activity.CameraActivity"
            android:label="@string/title_activity_camera" >
        </activity>
    </application>

</manifest>
